Enter your article

<form action="process.cfm" method="post">
 
				<fieldset data-role="fieldcontain"> 
					<label for="username">Name:</label>
					<input type="text" name="username" id="username">
				</fieldset>
	 
				<fieldset data-role="fieldcontain"> 
					<label for="password">Description:</label>
					<input type="password" name="password" id="password">
				</fieldset>
	 
				<fieldset data-role="fieldcontain"> 
					<label for="password2">Expire Date:</label>
					<input type="password" name="password2" id="password2">
				</fieldset>

				<input type="submit" value="Submit">
	 
</form>  

<script type="text/javascript">
	$(document).ready(function() {
		//alert('test');
	});
</script>

