<div id='your_list'>
	<h1>List of the food you requested</h1>
	<ul data-role="listview" id = 'second_list'>
	</ul>
</div>

<h1>Here is the food in your hood:</h1>  


Select a leftover you would like to pick up!
<ul data-role="listview" id="first_list">
	<li id="test_list"><a href="index.html">
		<img src="../static/res/icons/food-icon1.png" />
		<h3>Milk</h3>
		<p>Nice Milk</p>
	</a></li>
	<li><a href="index.html">
		<img src="../static/res/icons/food-icon1.png" />
		<h3>Bred</h3>
		<p>The fresh and best one you can get</p>
	</a></li>
	<li><a href="index.html">
		<img src="../static/res/icons/food-icon1.png" />
		<h3>Wolfgang Amadeus Phoenix</h3>
		<p>Phoenix</p>
	</a></li>
	<li><a href="index.html">
		<img src="../static/res/icons/food-icon1.png" />
		<h3>Of The Blue Colour Of The Sky</h3>
		<p>Ok Go</p>
	</a></li>
	<li><a href="index.html">
		<img src="../static/res/icons/food-icon1.png" />
		<h3>Elephant</h3>
		<p>The White Stripes</p>
	</a></li>
	<li><a href="index.html">
		<img src="../static/res/icons/food-icon1.png" />
		<h3>Kid A</h3>
		<p>Radiohead</p>
	</a></li>
	<li><a href="index.html">
		<img src="../static/res/icons/food-icon1.png" />
		<h3>XX</h3>
		<p>XX</p>
	</a></li>
	<li><a href="index.html">
		<img src="../static/res/icons/food-icon1.png" />
		<h3>Congratulations</h3>
		<p>MGMT</p>
	</a></li>
</ul>

<script type="text/javascript">
	$(document).ready(function() {
		$( "#your_list" ).hide(); 
		//alert('test');
	});
	
	$("#test_list").bind('tap', function(event) {
		//goToPage('mainpage');
		$( "#your_list" ).show();
		$( "#test_list" ).hide();
		//$("#test_list").append('<li id="test_list"><a href="index.html"><img src="../static/res/icons/food-icon1.png" />	<h3>Milk NEW</h3><p>Nice Milk</p></a></li>');
		$('#second_list').append('<li id="test_list"><a href="index.html"><img src="../static/res/icons/food-icon1.png" />	<h3>Milk NEW</h3><p>Nice Milk</p></a></li>');
		//$( "#test_list" ).hide();
		$('#second_list').listview('refresh');
		//$("#test_list2").trigger('create');
		//$("#test_list2").listview("refresh");
		//alert("You clicked");
		event.preventDefault();
	});
</script>

