<h1>Here is your food for your hood:</h1>  

<ul data-role="listview" id="first_list">
			<li id="test_list"><a href="index.html">
				<img src="../static/res/icons/food-icon1.png" />
				<h3>Milk</h3>
				<p>Nice Milk</p>
			</a></li>
			<li><a href="index.html">
				<img src="../static/res/icons/food-icon1.png" />
				<h3>Bred</h3>
				<p>The fresh and best one you can get</p>
			</a></li>
			<li><a href="index.html">
				<img src="../static/res/icons/food-icon1.png" />
				<h3>Wolfgang Amadeus Phoenix</h3>
				<p>Phoenix</p>
			</a></li>
			<li><a href="index.html">
				<img src="../static/res/icons/food-icon1.png" />
				<h3>Of The Blue Colour Of The Sky</h3>
				<p>Ok Go</p>
			</a></li>
			<li><a href="index.html">
				<img src="../static/res/icons/food-icon1.png" />
				<h3>Elephant</h3>
				<p>The White Stripes</p>
			</a></li>
			<li><a href="index.html">
				<img src="../static/res/icons/food-icon1.png" />
				<h3>Kid A</h3>
				<p>Radiohead</p>
			</a></li>
			<li><a href="index.html">
				<img src="../static/res/icons/food-icon1.png" />
				<h3>XX</h3>
				<p>XX</p>
			</a></li>
			<li><a href="index.html">
				<img src="../static/res/icons/food-icon1.png" />
				<h3>Congratulations</h3>
				<p>MGMT</p>
			</a></li>
		</ul>
</form>  

<script type="text/javascript">
	$(document).ready(function() {
		//alert('test');
	});
</script>

