<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>eatX</title>
	<link rel="stylesheet" href="../static/css/FoodWaste.css" />
	<link rel="stylesheet" href="../static/css/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
	<link rel="stylesheet" href="../static/css/FoodWaste.css" /> 
	<script src="../static/js/jquery_notification_v.1.js"></script> 

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eatX</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/FoodWaste.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.mobile.icons.min.css"/>
    <script src="{{ STATIC_URL }}js/underscore.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css"/>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
</head>
<body>

<div data-role="page" data-theme="a">
    <div data-role="header" data-position="inline">
        <h1>Here is food in your hood</h1>
        <a href="index.html" data-rel="back">Home</a>
        <a href="#" data-icon="plus" data-theme="b" id="add_button">Add</a>
    </div>
    <div data-role="content" data-theme="a">

        <div id='registration'>

        </div>


        <p>List of the food you requested</p>

        <ul data-role="listview" id='second_list'>

        </ul>

        <p><br></p>

        <p>Select a leftover you would like to pick up!</p>


        Test

        <ul data-role="listview" id="first_list">

        </ul>
    </div>
</div>

<script type="text/template" class="listitem_template">

    <li data-id="<%= id %>">
        <a href="index.html">
            <img src="../static/res/icons/food-icon1.png"/>

            <h3><%= name %></h3>

            <p><%= description %></p>
            <p><%= provider %></p>
        </a>
    </li>

</script>

<script type="text/template" class="listitem_template">

    <li data-id="<%= id %>">
        <a href="index.html">
            <img src="../static/res/icons/food-icon1.png"/>

            <h3><%= name %></h3>

            <p><%= description %></p>
            <p><%= provider %></p>
        </a>
    </li>

</script>

</body>


	<div data-role="page" data-theme="a">
		<div data-role="header" class="ui-bar" data-position="inline">
			<h1>eatX</h1>
			<a href="index.html" id="overview_button" data-icon="alert" data-rel="back">My Food</a>
			<a href="#" id="add_button" data-icon="plus" data-theme="b">Add</a>
			Welcome: <b>Friedrich Chasin</b>
		</div>

		<div data-role="content" data-theme="a" id='content'>

			<div id='add_form'>

			</div>

			<div id='main_form'>

			</div>

			<p><br></p>

		</div>
	</div>
</body>

	<script type="text/javascript">
		$(document).ready(function() {
			$( "#your_list" ).hide();
			$('#main_form').load("html/hoodslist.html", function() {
					$(this).trigger('create');
				});
			//alert('test');
			// Check for first application start
		});

		$("#test_list").bind('tap', function(event) {
			//goToPage('mainpage');
			$( "#your_list" ).show();
			$( "#test_list" ).hide();
			//$("#test_list").append('<li id="test_list"><a href="index.html"><img src="../static/res/icons/food-icon1.png" />	<h3>Milk NEW</h3><p>Nice Milk</p></a></li>');
			$('#second_list').append('<li id="test_list"><a href="index.html"><img src="../static/res/icons/food-icon1.png" />	<h3>Milk NEW</h3><p>Nice Milk</p></a></li>');
			//$( "#test_list" ).hide();
			$('#second_list').listview('refresh');
			//$("#test_list2").trigger('create');
			//$("#test_list2").listview("refresh");
			//alert("You clicked");
			event.preventDefault();
		});



		$("#overview_button").bind('tap', function(event) {
			//alert($(this).text());
			if($(this).text() == 'My Food') {
				//alert('my text');
				$('#main_form').load("html/mylist.html", function() {
					$(this).trigger('create');
				});
				$("#overview_button").html('Food in the Hood');
			} else {
				$('#main_form').load("html/hoodslist.html", function() {
					$(this).trigger('create');
				});
				$("#overview_button").html('My Food');
			}
			event.preventDefault();

		});

		$("#add_button").bind('tap', function(event) {
			//goToPage('mainpage');
			//alert('jap');
			//$('#registration').append('GO');
			$('#add_form').load("html/add.html", function() {
				$(this).trigger('create');
			});
			event.preventDefault();
		});

	</script>

</html>


