<div data-role="content" class="mainpadding">  
<center><img src="res/icons/gdacsmobile_logo.png"  width="120px" height="70px"/></center>
	<p>
	<div style="text-align:justify; color:#FFFFFF">
		Dear user of the GDACSmobile application,<br><br>
		we are a team of students from the University of Muenster and developed this application in the context
		of our project seminar at the chair for Information Systems and Supply Chain Management. Our special
		thanks go to our project partner Tom de Groeve from the Joint Research Center of the European Commission
		who made this project realizable and guided us through the project. Moreover, we want to thank
		Prof. Dr.-Ing. Bernd Hellingrath as well as our tutors Daniel Link, Adam Widera
		and Minu Kumar Limbu who supported us with insight into the sector of humanitarian response. <br><br>
		
		We hope that this mobile application can facilitate an impression on how crisis management
		could be supported in the future.<br><br>
		
		Thank you for using this application!<br><br><br>
		
		The developers:<br><br>
		
		Carsten	Bubbich<br>
		Friedrich Chasin<br>
		Sven Kronimus<br>
		Stefan Laube<br>
		Philipp	Saalmann<br>
		Martin Vanauer<br>
		</div> 
		<br><br><br>
</div>  

<script type="text/javascript">
	$(document).ready(function() {
		$("#GDACSmobile_content").fadeIn(100); // displaying the page
	});
</script>

