<div data-role="content" class="mainpadding">
	<div id="categoryOverviewDownloadList"></div>
</div>

<!-- Page specific js -->
<script type="text/javascript">
	$(document).ready(function() {
		// We need to know which category was chosen. selection variable is an array which stores the chosen IDs. The last ID is the one we need.
		var lastSelection = getLastValueFromSessionVar("selection");
		// Category list will be randered dynamically. The type of rendering is defined by the fact whether there are icons inside the category or not
		displayCategoryDownloadReportList(lastSelection, function() {  
		    console.log('Displying the page');  
		    $("#GDACSmobile_content").fadeIn(100);
		}); 
	});
</script>