<div data-role="content" style='max-width:100%;max-height:100%' class="mainpadding">
<div id="disasterHeader">
	<ul data-role="listview" data-inset="false" class="ui-listview">
		<li data-icon="false"><a style="text-align:center" id="currentdisasterName"></a></li>
	</ul>
</div>
	<br>
	<table id = "function_table" style='max-width:100%;max-height:100%;margin-left: auto;margin-right: auto;'>
	  <tr>
	    <td>
			<img src="res/icons/map_blue_t.png"  id="view_global" style='max-width:100%;max-height:100%' /> <!-- needs_assessment_t.png-->
		</td>
	    <td>
			<img src="res/icons/assess_blue_t.png"  id="needs_assessment" style='max-width:100%;max-height:100%' /> <!-- needs_assessment_t.png-->
		</td>
	  </tr> 
	  <tr>
	    <td>
			<img src="res/icons/overview_blue_t.png"  id="situationOverview" style='max-width:100%;max-height:100%' /> <!-- needs_assessment_t.png-->
		</td>
	    <td>
			<img src="res/icons/reports_blue_t.png"  id="myReports" style='max-width:100%;max-height:100%' /> <!-- needs_assessment_t.png-->
		</td>
	  </tr>
	</table>
</div>

<!-- Page specific js -->
<script type="text/javascript">
	$(document).ready(function() {
		// Use different icons for functionality buttons
		var style = localStorage.getItem('appStyle');
		if(style == "GDACS-blue") {
			console.log('blue is active');
			$("#view_global").attr("src", "res/icons/map_blue_t.png");
			$("#needs_assessment").attr("src", "res/icons/assess_blue_t.png");
			$("#situationOverview").attr("src", "res/icons/overview_blue_t.png");
			$("#myReports").attr("src", "res/icons/reports_blue_t.png");
			
		} else {
			console.log('black and white is active');
			$("#view_global").attr("src", "res/icons/local_view_t.png");
			$("#needs_assessment").attr("src", "res/icons/needs_assessment_t.png");
			$("#situationOverview").attr("src", "res/icons/situational_overview_t.png");
			$("#myReports").attr("src", "res/icons/my_reports_t.png");
		}
		
		// TODO Do it over assignment to all elements with a certain class
		document.getElementById("needs_assessment").addEventListener("touchstart", onTouchStart); //Listen for the user to start touching
		document.getElementById("needs_assessment").addEventListener("touchend", onTouchEnd); //Listen for the user to end touching
		document.getElementById("needs_assessment").addEventListener("touchmove", onTouchMove); //Listen for the user to end touching
		document.getElementById("situationOverview").addEventListener("touchstart", onTouchStart); //Listen for the user to start touching
		document.getElementById("situationOverview").addEventListener("touchend", onTouchEnd); //Listen for the user to end touching
		document.getElementById("situationOverview").addEventListener("touchmove", onTouchMove); //Listen for the user to end touching
		document.getElementById("view_global").addEventListener("touchstart", onTouchStart); //Listen for the user to start touching
		document.getElementById("view_global").addEventListener("touchend", onTouchEnd); //Listen for the user to end touching
		document.getElementById("view_global").addEventListener("touchmove", onTouchMove); //Listen for the user to end touching
		document.getElementById("myReports").addEventListener("touchstart", onTouchStart); //Listen for the user to start touching
		document.getElementById("myReports").addEventListener("touchend", onTouchEnd); //Listen for the user to end touching
		document.getElementById("myReports").addEventListener("touchmove", onTouchMove); //Listen for the user to end touching
		document.getElementById("currentdisasterName").addEventListener("touchstart", onTouchStart); //Listen for the user to start touching
		document.getElementById("currentdisasterName").addEventListener("touchend", onTouchEnd); //Listen for the user to end touching
		document.getElementById("currentdisasterName").addEventListener("touchmove", onTouchMove); //Listen for the user to end touching
		
		$("#needs_assessment").bind('tap', function(event) {
			startNewFunctionality(1); // Needs Assessment
			event.preventDefault();
		});	

		$("#situationOverview").bind('tap', function(event) {
			startNewFunctionality(2); // Situational Overview
			event.preventDefault();
		});
		
		$("#view_global").bind('tap', function(event) {
			startNewFunctionality(5); // Global View
			event.preventDefault();
		}); 
		
		$("#myReports").bind('tap', function(event) {
			startNewFunctionality(7); // My Reports
			event.preventDefault();
		}); 
		
		if(localStorage.getItem('selectedMissionName')!="") {
			$("#currentdisasterName").bind('tap', function(event) {
				startNewFunctionality(8); // Mission List
				event.preventDefault();
			}); 
		}		
		
		$("#GDACSmobile_footer").show();
		
		// Display selected disaster
		showDisasterName();
		
		$("#GDACSmobile_content").fadeIn(100); // display page
	});
</script>

