<div data-role="content" class="mainpadding">	
	<div id="mission_list"></div>		
</div>

<!-- Page specific js -->
<script type="text/javascript">
	$(document).ready(function() {
		loadMissions(function(event) {
			$(".mission_entry").bind('tap', function(event) {
				var currentId = $(this).attr('id');
				console.log(currentId);
				missionData.get(currentId, function(data){ 
					console.log("name " + data.value.name);
					console.log("pw " + data.value.password);
					console.log("dM " + data.value.defaultMission);
					selectMission(data.value.id, data.value.name, data.value.password, data.value.defaultMission);
				});
				event.preventDefault();
			});
			// Add change alert event (Tom request 09.08.2012)
			$("#selected_alert").bind('tap', function(event) {
				startNewFunctionality(6); // Mission List
				event.preventDefault();
			});
			// Display page
			$("#GDACSmobile_content").fadeIn(100);
		});
	});
</script>
		