<div data-role="content" class="mainpadding">
	<div id="myreport_list"></div>			
</div>
<div id="submit_reports">
	<p style="display:none" id="submit_all_reports" data-role="button" >Submit all not submitted reports</p>	
</div>
	
<!-- Page specific js -->
<script type="text/javascript">
	$(document).ready(function() {
		// load all reports for a chosen category (at the moment from server) TODO
		loadMyReportData(function(){
			$("#GDACSmobile_content").fadeIn(100);
		});

		$("#submit_all_reports").bind('tap', function(event) {
			 submitAllUnsubmittedReports(function (status){
					if(status == true){
						$.growlUI('All reports successfully submitted');
						loadMyReportData(function(){
							$("#GDACSmobile_content").fadeIn(100);
						});
					} else {
						$.growlUI('Submission not successfull');
						loadMyReportData(function(){
							$("#GDACSmobile_content").fadeIn(100);
						}); 
					}
				 });
			event.preventDefault();
		});
		$.unblockUI();
	});
</script>
