<div data-role="content" class="border mainpadding" id="login">  
   <p>
    <input type="password" size="15" name="password" id="missionPassword" />  
	<input type="button" accesskey="l" id="selectMission" name="selectMission" value="Go to Mission" />
</div>  

<!-- Page specific js -->
<script type="text/javascript">
	$(document).ready(function() {
		// Button for submitting password for a mission
		$("#selectMission").bind('tap', function(event) {
			loadMissionWithPassword();
			event.preventDefault();
		});	
		// Displaying the page 
		$("#GDACSmobile_content").fadeIn(100);
	});
</script>