<div data-role="content" class="mainpadding">
	
	<ul data-role="listview" data-inset="true" data-theme="c">
		<li data-role="list-divider" data-theme="b">Reported Picture</li>
		<li>
			<div id=img align="center">
				<img id="image" height="auto" width="95%" src="" />
			</div>
		</li>
	</ul>

	<ul data-role="listview" data-inset="true" data-theme="c">
		<li data-role="list-divider" data-theme="b">Report Details</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a">Category Path</div>
				<div class="ui-block-b" align="right" id="category_Name"></div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a">Status</div>
				<div class="ui-block-b" align="right" id="report_Status"></div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a">Date</div>
				<div class="ui-block-b" align="right" id="creationTime"></div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a">Description</div>
				<div class="ui-block-b" align="right" id="description"></div>
			</div>
		</li>
	</ul>
	
	<div id="expandable"></div>
	
	<p id="Show_report_on_map" data-role="button">Show on map</p>
	
</div>

<!-- Page specific js -->
<script type="text/javascript">
	$(document).ready(function() {
		// Displaying the dynamic elements for report details
		showReportDetails(function() {
		    $("#GDACSmobile_content").fadeIn(100);
		});
	}); 
</script>