<div data-role="content" class="mainpadding">	
	<div id="categories_display">
		<ul data-role="listview" data-inset="true" data-theme = "c">
		<li data-role="list-divider" data-theme = "b">	
			<div class="ui-grid-a">
				<div class="ui-block-a">Your selection</div>
				<div class="ui-block-b" align="right"></div>
			</div>	
		</li>	
			<li>
			<div class="ui-grid-a">
				<div class="ui-block-a">Main category</div>
					<div class="ui-block-b" align="right">
						<div id="categories_main" style="font-weight: bold; margin-bottom: 3px;"></div>
					</div>
				</div>
			</li>
			<li>
				<div class="ui-grid-a">
					<div class="ui-block-a">Sub category</div>
					<div class="ui-block-b" align="right">
						<div id="categories_sub" style="margin-bottom: 8px;"></div>
					</div>
				</div>
			</li>
		
		</ul>
	</div>
	<ul data-role="listview" data-inset="true" data-theme = "c">
		<li data-role="list-divider">	
			<div class="ui-grid-a">
				<div class="ui-block-a">Picture</div>
				<div class="ui-block-b" align="right"><img class="pictureDescription" src="res/icons/info.png"></div>
			</div>	
		</li>	
		<li>
			<div class="ui-grid-a">
					<div class="ui-block-a">
					<!-- a id="folder_icon" style="width:110px" data-role="button" data-icon="custom" data-iconpos="top"  data-inline="true">Select</a-->
					<a id="camera_icon" style="width:110px" data-role="button" data-icon="custom" data-iconpos="top" data-inline="true">Camera</a></div>
					<div class="ui-block-b" align="right">
					<br>
						<img style="display:none; height:120px; vspace:30px; width:auto" id="reportImage" src="" /> <!-- width:60px;height:60px; TODO disable stretching-->
					</div>
				</div>
		</li>
	</ul>
	<div id="report_details">
	<ul data-role="listview" data-inset="true" data-theme = "c">
		<li data-role="list-divider">	
			<div class="ui-grid-a">
				<div class="ui-block-a">Report description</div>
				<div class="ui-block-b" align="right"><img id = "info1" class="reportDescription" src="res/icons/info.png"></div>
			</div>	
		</li>	
		<li>
			<div class="ui-grid-a">
					<textarea name="textarea" id="report_description" onchange="saveSubmissionUserInput('report_description')" placeholder="Description"></textarea>
			</div>
		</li>
		
	</ul>
		<div id="dynamic_attribute_area">
		</div>
	</div>

	<ul data-role="listview" data-inset="true" data-theme = "c">
		<li data-role="list-divider">	
			<div class="ui-grid-a">
				<div class="ui-block-a">Location details</div>
				<div class="ui-block-b" align="right"><img class="locationDetailsDescription" src="res/icons/info.png"></div>
			</div>	
		</li>	
		<li>
			<div id = "location_details">
				Location <span id = "accuracy_text" style="text-align: right !important">(Accuracy: +/- <span id = "accuracy_value"></span>)</span> 
				<img id="accuracyImg" height="13" width="13"/>
				<br>
				Lat: <span id = "loc_lat"></span> Lon: <span id = "loc_lon"></span>
				<div data-role="navbar">
					<ul>
						<li><a id = "GPS_button"> <span id="GPStext">By GPS</span> </a></li>
						<li><a id = "MAP_button">By Map</a></li>
					</ul>
				</div><!-- /navbar -->
			</div>
		</li>	
	</ul>
	<p id="submit_report" data-role="button" >Submit</p>
	<br><br><br>
</div>

<!-- Page specific js -->
<script type="text/javascript">
	// Wait for PhoneGap to connect with the device
	document.addEventListener('deviceready',onDeviceReady,false);

	//PhoneGap is ready to be used. This function is called when device is ready
	function onDeviceReady() {
		navigator.geolocation.getCurrentPosition(onSuccess, onError); // Initialize (get) current location	
	}

	// After html document is ready
	$(document).ready(function() {
		// Display what user has selected 
		displayCategorySelection();

		// Button for activating camera
		$("#camera_icon").bind('tap', function(event) {
			getPicture(pictureSource.CAMERA);
			event.preventDefault();
		});
		
		// Button for submitting a report
		$("#submit_report").bind('tap', function(event) {
			$.blockUI();
			saveAndSubmitReport(function(status, lastCategory) {  
				$.growlUI('Successful:', status); 
				userInputData.exists(lastCategory, function(catInputExists){
					if(catInputExists == true){
						//remove user input data if exists
						userInputData.remove(lastCategory);
					}
			  	});
			}); 
			event.preventDefault();
		});
		
		// Button for refreshing the location data
		$("#GPS_button").bind('tap', function(event) {
			recalculateLocation(); 
			event.preventDefault();
		});
		
		// Button for selecting location by map
		$("#MAP_button").bind('tap', function(event) {
			goToPage('submission_gps_map', getLastValueFromSessionVar('selection'), 'submission', 'args', false); 
			event.preventDefault();
		});

		// Button for retaking the picture
		$("#reportImage").bind('tap', function(event) {
			getPicture(pictureSource.CAMERA);
			event.preventDefault();
		});

		// Dynamic loading of custom attributes for a report template 
		loadDynamicReportAttributes(function() { 
			displaySubmissionUserInput(function(){
			 	console.log('Displying the page');  
			    $("#GDACSmobile_content").fadeIn(100);
			}); 
		});

		// Get attributes ID from the server (this is a part of submission xml)
		initializeReportAttributes();  

		// START Standardized help dialoges
		$('.reportDescription').click(function() { 
			var dynamicMessage = "Describe your observation. Be as precise as possible by using as little characters as possible.";
			var loadingMessage = "<div class=\"reportTemplateMessage\">"+dynamicMessage+"</div>";
		    $.blockUI({message: loadingMessage});
	        $('.blockOverlay').attr('title','Click to unblock').click($.unblockUI); 
	    });

		$('.pictureDescription').click(function() { 
			var dynamicMessage = "Take a picture of your observation. You do not need to take a picture. If you have stored a picture on your device - select it.";
			var loadingMessage = "<div class=\"reportTemplateMessage\">"+dynamicMessage+"</div>";
		    $.blockUI({message: loadingMessage});
			$('.blockOverlay').attr('title','Click to unblock').click($.unblockUI); 
	    });

		$('.locationDetailsDescription').click(function() { 
			var dynamicMessage = "Tag your report with location details. You can either take the position of your device - make sure the position is accurate, i.e. a green lamp is displayed - or select a position on the local map.";
			var loadingMessage = "<div class=\"reportTemplateMessage\">"+dynamicMessage+"</div>";
		    $.blockUI({message: loadingMessage});
			$('.blockOverlay').attr('title','Click to unblock').click($.unblockUI); 
	    });
		// START Standardized help dialoges

		document.getElementById("info1").addEventListener("touchstart", onTouchStart); //Listen for the user to start touching
		document.getElementById("info1").addEventListener("touchend", onTouchEnd); //Listen for the user to end touching
		document.getElementById("info1").addEventListener("touchmove", onTouchMove); //Listen for the user to end touching
		document.getElementById("camera_icon").addEventListener("touchstart", onTouchStart); //Listen for the user to start touching
		document.getElementById("camera_icon").addEventListener("touchend", onTouchEnd); //Listen for the user to end touching
		document.getElementById("camera_icon").addEventListener("touchmove", onTouchMove); //Listen for the user to end touching
		document.getElementById("submit_report").addEventListener("touchstart", onTouchStart); //Listen for the user to start touching
		document.getElementById("submit_report").addEventListener("touchend", onTouchEnd); //Listen for the user to end touching
		document.getElementById("submit_report").addEventListener("touchmove", onTouchMove); //Listen for the user to end touching
		document.getElementById("GPS_button").addEventListener("touchend", onTouchEnd); //Listen for the user to end touching
		document.getElementById("GPS_button").addEventListener("touchmove", onTouchMove); //Listen for the user to end touching
		document.getElementById("MAP_button").addEventListener("touchstart", onTouchStart); //Listen for the user to start touching
		document.getElementById("MAP_button").addEventListener("touchend", onTouchEnd); //Listen for the user to end touching
		document.getElementById("MAP_button").addEventListener("touchmove", onTouchMove); //Listen for the user to end touching
	});	
</script>


