<div id="mapPanel" class="mapPanel"></div>

<div id="navigation" class="mapControlZoomJQuery" data-role="controlgroup" data-type="vertical">
	<a href="#" data-role="button" data-icon="plus" id="mapControlZoomIn" data-iconpos="notext"></a>
	<a href="#" data-role="button" data-icon="minus" id="mapControlZoomOut" data-iconpos="notext"></a>
</div>

<div id="menuMapRefresh" class="mapControlRefreshJQuery" data-role="controlgroup" data-type="vertical">
	<a href="#" data-role="button" data-icon="refresh" id="mapControlRefresh" data-iconpos="notext"></a>
</div>

<a href="html/view_local_menu.html" data-rel="dialog" id="mapLocalMenuButton" data-role="button" data-inline="true" data-mini="true" data-transition="slide" class="mapControlGPS" data-theme="a">Layer</a>

<!-- Page specific js -->
<script type="text/javascript">
	$(document).ready(function(){
		var mapFromReport = sessionStorage.getItem('mapFromReport');
		sessionStorage.removeItem('mapFromReport');
		if (mapFromReport === undefined || mapFromReport === null || mapFromReport === "")
			setupLocalMap(true, null, null, null, null, function() {
			    $("#GDACSmobile_content").fadeIn(100);
			});
		else{
			mapFromReport = mapFromReport.split(",");
			setupLocalMap(true, mapFromReport[1], mapFromReport[2], 15, null, function() {
			    $("#GDACSmobile_content").fadeIn(100);
			});
		}
		
		// Button for zooming in
		$("#mapControlZoomIn").bind('tap', function(event) {
			localMap.zoomIn();
			event.preventDefault();
		});

		// Button for zooming out
		$("#mapControlZoomOut").bind('tap', function(event) {
			localMap.zoomOut();
			event.preventDefault();
		});

		// Button for map refreshing
		$("#mapControlRefresh").bind('tap', function(event) {
			closeLocalPopups();
			mapLayerReports.refresh();
			event.preventDefault();
		});

		// Button for layer functionality
		$("#mapLocalMenuButton").bind('tap', function(event) {
			$("#mapLocalMenuButton").animate({opacity: 0.0}, 0);
		});
	});
</script>